
.address{
    width: 90%;
    /* height: 495px; */
    margin: auto;
    margin-top: 100px;
    display: flex;
    background-color: #f7f6f6;
}
.address_container{
    height: auto;
    width: 60%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    display: flex;
}
.payment{
   border-right: 1px solid grey; 
   cursor: pointer;
   
   width: 30%;
}
.payment1{
    
    width: 50%;
 }
 
 @media (max-width:850px){
    .progress{
        display: none;
    }

    .address{
        width: 100%;
    }
    .address_container{
        width: 100%;
    }
    
   
    

}
@media (max-width:550px){
    .progress{
        display: none;
    }
    
}