
.address{
    width: 90%;
    /* height: 495px; */
    margin: auto;
    margin-top: 100px;
    display: flex;
}
.address_container{
    height: 100%;
    width: 70%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}
.container{
    width: 60%;
}
@media (max-width:850px){
    .progress{
        display: none;
    }
    .address_container{
        width: 100%;
    }
    .address{
        width: 95%;
    }
    .container{
        width: fit-content;
    }
   
    

}
@media (max-width:550px){
    .progress{
        display: none;
    }
    .container{
        width: fit-content;
    }
}