
.address{
    width: 80%;
    /* height: 495px; */
    margin: auto;
    margin-top: 60px;
    display: flex;
}
.address_container{
    height: 100%;
    width: 70%;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;


}